/* shared items */

* {
    /* margin: 0; */
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}

.section-des{
    color: rgba(19, 24, 24, 0.70);
    font-size: 1rem;
}

/* header section styles start */

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 150px;

}

.nav-title {
    font-size: 2.4rem;
    font-weight: 800;
}

nav img {
    /* width: 100%; */
    width: 55px;
    height: 50px;
}

.pri-color {
    color: #FF5400;
}

.nav-div {
    display: flex;
    gap: 10px;
    align-items: center;
}


nav>ul {
    display: flex;
    align-items: center;

    gap: 40px;
}

nav li {
    list-style: none;

}

nav a {
    text-decoration: none;

    font-size: 1.25rem;
    color: #424247;
}

.home {
    color: #FF5400;
    font-weight: 800;
    font-size: 1.25rem;
}

/* banner section styles start */

.banner {
    background-image: url(../assets/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;

    max-width: 1196px;
    height: 100%;
    margin: 50px auto;
    text-align: center;
    align-items: center;
    height: 100%;
    box-shadow: inset 0 300px 100px 0px rgba(0, 0, 0, 0.6);
    border-radius: 14px;
}

.banner-container {
    padding: 70px 100px 70px 100px;
    color: #FFF;
    /* box-shadow: inset  0px 30px 0px rgba(0, 0, 0,0.5); */
}

.banner-title {
    font-weight: 800;
    font-size: 4rem;
    color: #FFF;
}

.banner-des {
    padding-bottom: 40px;
}

.banner-form {
    display: flex;
    gap: 24px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.inputs {
    padding: 20px 10px;
    width: 25%;
    border-radius: 10px;
    border: 0;

}


.select {
    width: 25%;
    padding: 20px 10px;

    border-radius: 10px;
    border: 0;
}

.inputs::placeholder {
    color: rgba(19, 19, 24, 0.50);
}

.btn-one {
    padding: 20px 10px;
    width: 20%;
    border-radius: 10px;
    border: 0;
    background-color: #FF5400;
    color: #FFF;
}

/* Popular Tours section start */

.Popular-Tours{
    display: flex;
    margin: 130px;
    gap: 50px;
}

.tour-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
    margin-top: 10px;
}

.btn-read-more{
    padding: 15px 30px;
    color: #FFF;
    background-color: #FF5400;
    border: 0;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 700;
}
.tour-content p, .tour-li{
    margin: 20px 0;
    line-height: 30px;
}

.tour-img img {
    height: 100%;
}

/* destination section start */

.destination{
   /* margin: 135px;
   gap: 24px; */
   max-width: 1200px;
   margin: 0 auto;
   text-align: center;
}
.destination-container{
    margin: 50px;
}

.destination-title{
    font-size: 2.50rem;
}

.destination-img-container{
    /* padding: 24px; */
   

    }
    .destination-img img{
        margin: 10px;
        height: 100%;
        
    }


/* responsive for small device */

@media screen and (max-width: 576px) {
    *{
        margin: 0;
    }
    nav , .Popular-Tours{
        flex-direction: column;
        margin: 20px;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        gap: 10px;
    }

    .banner {
        margin: 20px;
        background-position: center;
    }

    .banner-container {
        padding: 20px;
    }

    .banner-title {
        font-size: 1.4rem;
        /* padding-top: 20px; */
    }

    .banner-des {
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .banner-form {
        flex-direction: column;
        gap: 10px;

    }

    .banner-form .inputs {
        width: 93%;

    }

    .select {
        width: 100%;
        padding: 20px 10px;

        border-radius: 10px;
        border: 0;
    }


    .btn-one {
        width: 100%;
    }

    .Popular-Tours img{
        /* flex-direction: column; */
        width: 100%;

    }

    .destination{
        margin: 20px;
    }

    .destination-container{
        margin: 0;
    }

    .destination-title{
        font-size: 1.25rem;
        margin: 20px 0;
        font-weight: 800;
    }

    .destination-img img{
        width: 100%;
        height: 175px;
        margin: 0;
        margin-top: 20px;
    }
}

/* Responsive for medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    *{
        margin: 0;
    }
    nav{
        margin: 50px;

    }
    nav> ul{
        gap: 10px;
        font-size: 0.8rem;
        padding: 0 ;
    }
    .nav-title{
        font-size: 1.25rem;
    }
    nav li a{
        font-size: 1rem;
        /* gap: 10px; */
    }

    nav .home{
        font-size: 1rem;
    }

    

    .banner-container{
         padding: 0;
    }
    .banner{
        margin: 50px;
        /* box-shadow: inset 0 100px 50px 0 rgba(0, 0, 0, 0.6); */
        padding: 20px;
        background-position: center;
    }

    .banner-title{
        margin-top: 0;
        /* margin-bottom: 10px; */
        /* padding-bottom: 10px; */
        font-size: 2.4rem;
    }

    .banner-des{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .banner-form{
        flex-direction: column;
        gap: 10px;
    }
    .banner-form .inputs {
        width: 94%;
        padding-left: 20px;

    }

    .select {
        width: 100%;
        padding-left: 20px;

        /* border-radius: 10px;
        border: 0; */
    }


    .btn-one {
        width: 100%;
    }
    .Popular-Tours{
        flex-direction: column;
        margin: 50px;
    }
    .Popular-Tours img{
        
        width: 100%;

    }

    
    .destination{
        margin: 50px;
    }

    .destination-container{
        margin: 0;
    }

    .destination-title{
        font-size: 2.25rem;
        margin: 20px 0;
        
    }

    .destination-img img{
        width: 100%;
        /* height: 368px; */
        margin: 0;
        margin-top: 20px;
    }

}